<h1>Band: <%= @band.name %></h1>
<br>
<form action="/bands/<%= @band.id() %>" method="post">
  <input name="_method" type="hidden" value="patch">
  <input id="name" name="name" type="text">
  <button type="submit" class="btn btn-info btn-xs">Rename <%=@band.name() %></button>
</form>

<form action='/bands/<%= @band.id() %>' method='post'>
  <input type="hidden" name='_method' value='delete'>
  <button type='submit' class="btn btn-danger btn-xs">Delete <%= @band.name %></button>
</form>
<br>
<h3><%= @band.name %> has played at the following venues:</h3>
<ul>
  <% @band.venues.each() do |venue| %>
    <li> <a href="/venues/<%= venue.id() %>"><%= venue.name() %></a></li>
  <% end %>
</ul>
<br>
<h6>Add venues where <%= @band.name %> has played:</h6>
<form action="/bands/<%= @band.id() %>/new" method="post">
  <input id="name" name="name" type="text">
  <button type="submit" class="btn btn-success btn-xs">add a venue</button>
</form>
<br>
<br>
<a href="/">Back to Showtime! Homepage</a>
